body#body {
  background: url("../images/capa.png") repeat-y, url("../images/ruido.png"),
    linear-gradient(to right, rgb(233, 61, 181), rgb(94, 0, 138));
  background-attachment: fixed;
}

section div.carousel div.buttons button {
  border-radius: 1.5rem;
}

section div.carousel div.buttons button {
  border-radius: 2rem;
  width: 13rem;
}

section div.carousel div.buttons #button1 {
  background-color: rgb(128, 0, 145);
  color: white;
}

section div.carousel div.buttons #button1:hover {
  background-color: rgb(196, 71, 212);
}

section div#right h1,
section div#right h3 {
  color: rgb(188, 63, 238);
}

.section3 div.row div.transform {
  transform: rotate(30deg);
}

.section3 div.row h1 {
  color: white;
}

.section3 div.row h3 {
  color: rgb(82, 244, 250);
}

footer {
  background-color: black;
  padding-top: 1rem;
  position: relative;
}

footer ul {
  list-style-type: none;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: gray;
}

footer img {
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  section div.carousel h1.title {
    font-size: 2rem;
  }
  section div.carousel div.buttons {
    display: flex;
    flex-direction: column;
  }
  section div.carousel div.buttons button#button1 {
    width: 13rem;
  }
  section div.carousel div.buttons button#button2 {
    width: 13rem;
    margin-top: 1rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  section div.carousel h1.title {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: white;
  }
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: gray;
  }
}
